.git
.github
.gradle
.idea
.kotlin
.konan
.vscode
**/build
**/DerivedData
**/xcuserdata
artifacts
captures
local.properties
*.aab
*.apk
*.env
.env
.env.*
**/.env
**/.env.*
*.hprof
*.ipa
*.jks
*.keystore
*.log
*.mobileprovision
*.p12
*.p8
*.pem
*.pfx
*.provisionprofile
*.xcarchive
*.xcuserstate
